* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
  margin: 30px 0px 20px 0px;
  color: hsl(0, 0%, 95%);
}

p {
  margin: 20px 0px 0px 0px;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 25px;
}

a {
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 50px;
  background-color: hsl(0, 0%, 95%);
  display: inline-block;
  padding: 13px 30px;
  text-decoration: none;
}
p, a {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

.sedans a:link {
  color: hsl(31, 77%, 52%);
}

.suvs a:link {
  color:hsl(184, 100%, 22%);
}

.luxury a:link {
  color:hsl(179, 100%, 13%);
}

.sedans a:visited {
  color: hsl(31, 77%, 52%);;
}

.suvs a:visited {
  color:hsl(184, 100%, 22%);
}

.luxury a:visited {
  color:hsl(179, 100%, 13%);
}

.wrapper a:focus {
  background-color: inherit;
  color: hsl(0, 0%, 95%);
}

/* Added wrapper for specifity */
.wrapper a:hover {
  background-color: inherit;
  color: hsl(0, 0%, 95%);
}

.wrapper a:active {
  color: hsl(0, 0%, 95%);
}

.wrapper {
  border-radius: 10px;
  margin: 80px 24px;
  overflow: hidden;
}

.wrapper .sedans {
  background-color:hsl(31, 77%, 52%);
  padding: 50px;
}

.wrapper .suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 50px;
}

.wrapper .luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 50px;
}

@media screen and (min-width: 968px) {
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    max-width: 920px;
    display: flex;
  }

  .text-container {
    padding-bottom: 5.6vw;
  }

  p {
    display: inline-block;
  }
}