body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p, a {
  font-family: 'Red Hat Display', sans-serif;
}

a:link {
  color: hsl(223, 47%, 23%);
  
}
.card p {
  text-align: center;
  color: hsl(224, 23%, 55%);
}
.card > p:first-of-type {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  text-align: center;
  font-size: 1.5rem;
}
.wrapper {
  /*
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: repeat-x;
  background-size: contain;
  */
  background-color: hsl(225, 100%, 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 40%;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  border: 1px solid hsl(225, 100%, 94%);
  overflow: hidden;
  flex: 320px 0 0;
}

.card img {
  max-width: 100%;
  
}

.container {
  margin: 0px 30px;
}
.payment-info {
  background-color: hsl(225, 100%, 98%);
  display: grid;
  /*! margin: 0px 20px; */
  padding: 0px 20px;
  border: 1px solid hsl(225, 100%, 98%);
  border-radius: 10px;
  grid-template-columns: auto 2fr auto ;
  align-items: center;
  gap: 5px;
} 

.payment-info p::first-line {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.container > a {
  text-align: center;
  display: block;
  padding: 15px 30px;
  
  
}

.container > a:first-of-type {
  margin-top: 30px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

.container > a:first-of-type:hover {
  background-color: hsl(225, 100%, 60%);
}
  
