@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --v-dark-mag: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dgray-mag: hsl(303, 10%, 53%);
  --lgray-mag: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
}

h1,
p,
ul {
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
  color: var(--v-dark-mag);
}

p {
  color: var(--dgray-mag);
  font-weight: 500;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style-type: none;
}

.wrapper {
  padding: 8rem 2.5rem 7rem 2.5rem;
  background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom left;
  background-repeat: no-repeat;
}

.top-part {
  text-align: center;
}
.top-part h1 {
  margin-bottom: 2.5rem;
}

.top-review {
  padding-top: 4.5rem;
}

.rating-panel {
  background-color: var(--lgray-mag);
  margin-bottom: 1.6rem;
  padding: 1.5rem;
  border-radius: 10px;
}

.rating-panel h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--v-dark-mag);
  margin: 1rem 0 0 0;
}

.rating-panel:last-of-type {
  margin-bottom: 5rem;
}

.rating-stars {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.review-card {
  background-color: var(--v-dark-mag);
  margin-bottom: 1.6rem;
  padding: 4rem 3.2rem;
  border-radius: 10px;
}

.review-card p {
  color: var(--white);
  font-size: 1.3rem;
}

.reviewer {
  display: flex;
  gap: 2.2rem;
  margin-bottom: 3rem;
}

.portrait-container{
  flex-basis: 4rem;
  flex-grow: 0;
}

.name-container p:first-of-type {
  font-weight: 700;
}

p.verified {
  color: var(--soft-pink);
}

.reviewer span {
  display: inline-block;
}

.portrait-container img {
  display: inline-block;
  border-radius: 50%;
  max-width: 100%;
}

@media screen and(min-width: 600px){
  .top-part {
    display: flex;
  }
  
  .introduction-text {
    flex: 3;
  }
  
  .top-review {
    flex: 4;
  }
  .rating-panel {
    display: flex;
  }
}