@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --v-dark-mag: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dgray-mag: hsl(303, 10%, 53%);
  --lgray-mag: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 1.4rem;
  background-image: url(images/bg-pattern-top-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

h1,
p,
ul {
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
  color: var(--v-dark-mag);
}

p {
  color: var(--dgray-mag);
  font-weight: 500;
  line-height: 1.5;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  height: 100vh;
}

.wrapper {
  padding: 8rem 2.5rem 7rem 2.5rem;
}

.top-part {
  text-align: center;
}
.top-part h1 {
  margin-bottom: 2.5rem;
}

.top-review {
  padding-top: 4.5rem;
}

.rating-panel {
  background-color: var(--lgray-mag);
  margin-bottom: 1.6rem;
  padding: 1.5rem;
  border-radius: 10px;
}

.rating-panel h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--v-dark-mag);
  margin: 1rem 0 0 0;
}

.rating-panel:last-of-type {
  margin-bottom: 5rem;
}

.rating-stars {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.rating-stars img {
  display: block;
}

.review-card {
  background-color: var(--v-dark-mag);
  margin-bottom: 1.6rem;
  padding: 4rem 3.2rem;
  border-radius: 10px;
}

.review-card p {
  color: var(--white);
  font-size: 1.3rem;
}

.reviewer {
  display: flex;
  gap: 2.2rem;
  margin-bottom: 3rem;
}

.portrait-container{
  flex-basis: 4rem;
  flex-grow: 0;
}

.name-container p:first-of-type {
  font-weight: 700;
}

p.verified {
  color: var(--soft-pink);
}

.reviewer span {
  display: inline-block;
}

.portrait-container img {
  display: inline-block;
  border-radius: 50%;
  max-width: 100%;
}

@media screen and (min-width: 800px){

  body {
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
  }
  .wrapper {
    padding: 7% 11.5%;
  }

  .introduction-text h1 {
    font-size: 5rem;
    margin-bottom: 1.2rem;
  }

  .top-review {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow:0;
    min-width: 50rem;
  }

  .rating-panel h2 {
    margin: 0;
  }

  .rating-panel {
    padding: 1.7rem 3rem;
    display: flex;
    gap: 1.8rem;
    width: 85%;
  }

  .rating-panel:nth-child(1) {
    align-self: flex-start;
  }

  .rating-panel:nth-child(2) {
    align-self: center;
  }

  .rating-panel:nth-child(3) {
    align-self: flex-end;
  }

  .rating-stars {
    align-items: center;
  }

  .customer-review-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .review-card {
    margin: 0;
  }
}

@media screen and (min-width: 1279px) {

  body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  .wrapper{
    max-width: 160rem;
    margin: auto;
    padding: 11.2rem 18.4rem;
  }
  .top-part {
    display: flex;
    gap: 5rem;
    margin-bottom: 4rem;
  }

  .introduction-text {
    padding-right: 5%;
    text-align: left;
  }

  .top-review {
    padding-top: 2rem;
  }

  .customer-review-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    grid-auto-rows: 1fr;
    min-height: 300px;
  }

  .review-card {
    margin: 0;
  }

  .review-card:nth-child(1) {
    align-self: flex-start;
  }

  .review-card:nth-child(2) {
    align-self: center;
  }

  .review-card:nth-child(3) {
    align-self: flex-end;
  }
}
